<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>角色信息查看--layui后台管理模板</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <style type="text/css">
        .layui-form-item .layui-inline {
            width: 33.333%;
            float: left;
            margin-right: 0;
        }

        @media (max-width: 1240px) {
            .layui-form-item .layui-inline {
                width: 100%;
                float: none;
            }
        }
    </style>
</head>
<body class="childrenBody">
<form class="layui-form" action="/manager/roleSave" method="post">
    <input th:value="${entity.id}" id="id" name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">家庭名</label>
        <div class="layui-input-block">
            <input th:value="${entity.roleName}" readonly="readonly" id="roleName" name="roleName" type="text"
                   class="layui-input newsName" lay-verify="required" placeholder="请输入角色名"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select id="state" disabled="disabled" name="state" class="newsLook" lay-filter="browseLook">
                <option th:selected="${entity.state==1?'selected':'false'}" value="1">启用</option>
                <option th:selected="${entity.state==2?'selected':'false'}" value="2">停用</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <a class="layui-btn" th:href="@{/manager/roleList}">返回</a>
        </div>
    </div>
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/role/addRole.js"></script>
</body>
</html>